@model TP_FINAL_GRUPO_C.Models.UsuarioFuncion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UsuarioFuncion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idUsuario" class="control-label"></label>
                <select asp-for="idUsuario" class ="form-control" asp-items="ViewBag.idUsuario"></select>
            </div>
            <div class="form-group">
                <label asp-for="idFuncion" class="control-label"></label>
                <select asp-for="idFuncion" class ="form-control" asp-items="ViewBag.idFuncion"></select>
            </div>
            <div class="form-group">
                <label asp-for="CantidadEntradasCompradas" class="control-label"></label>
                <input asp-for="CantidadEntradasCompradas" class="form-control" />
                <span asp-validation-for="CantidadEntradasCompradas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
